@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

html, body, #root {
    width: 100% !important;
    height: 100% !important;
}

.container {
    max-width: none !important;
    min-height: calc(100% - 5rem);
    overflow: hidden;
}

body {
  margin: 0;
  font-family:'Quicksand', sans-serif !important;
}

code {
  font-family: 'Quicksand', sans-serif;
}


input[type="file"], .btn {
    outline: none;
    box-shadow:none !important;
    border:none !important;
    }